* text=auto
*.md text eol=lf
*.py text eol=lf
*.ps1 text eol=lf
*.cs text eol=lf
*.meta text eol=lf
*.unity text eol=lf
*.prefab text eol=lf
*.png binary
*.jpg binary
*.jpeg binary
*.ttf binary
*.otf binary
